<% favorites.each do |favorite| %>
  <div class="border">
    <div class="row">
      <div class="col-2">
        <%= image_tag favorite.post.customer.profile_image,size: "100x100" %>
      </div>
      <div clss="col-4">
        <h4>タイトル   <%= link_to favorite.post.title,post_path(favorite.post.id) %></h4>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-2">
        <%= link_to customer_path(favorite.post.customer.id) do %>
          <%= favorite.post.customer.account_name %>
        <% end %>
      </div>
      <div class="col-6">
        <h4>タグ</h4>
        <% favorite.post.tags.each do |tag| %>
          <p ><%= tag.tag_name %></p>
        <% end %>
      </div>
      <br><br>
    </div>

    <div class="row">
      <div class="col-5"></div>
      <div class="col-3">投稿日 <i class="fa-solid fa-calendar"></i><%= favorite.post.created_at.strftime("%Y/%m/%d %H:%M")%></div>
      <div class="col-2">コメント数 <i class="fa-solid fa-comments"></i><%= favorite.post.comments.count %>件</div>
      <div class="col-2">いいね数<i class="fa-solid fa-heart"></i><%= favorite.post.favorites.count %>いいね</div>
    </div>
  </div>
  <br><br>
<% end %>

<div class="row">
  <div class="col text-center"><%= paginate favorites %></div>
</div>