<div class="container bg-light">
  <br><br>
  <h1>新規会員登録</h1>
  <br><br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customer/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h4>アカウント名</h4>
    </div>
    <div class="col-1"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h4>メールアドレス</h4>
    </div>
    <div class="col-1"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h4>生年月日</h4>
    </div>
    <div class="col-1"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h4>パスワード(６文字以上)</h4>
    </div>
    <div class="col-1"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <h4>パスワード確認用</h4>
    </div>
    <div class="col-1"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-4 d-flex align-items-center">
      <%= f.submit "新規登録", class: "text-white bg-primary btn" %>
    </div>
  </div>
  <br><br>

<% end %>

<h1>既に登録済みの方</h1>
<br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <p><%= link_to "こちら",new_customer_session_path %>からログインしてください。</p>
    </div>
  </div>

<br><br><br><br><br>
</div>
