<div class="container bg-light">
  <br><br>
  <h2>ログイン</h2>
  <br><br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-4 col-9">
        <h4> 会員の方はこちらからログイン</h4>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-xl-2 col-1"></div>
      <div class="col-xl-3 col-6">
        <h5>メールアドレス</h5>
      </div>
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-4 col-4 d-flex align-items-center">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-xl-2 col-1"></div>
      <div class="col-xl-3 col-5">
        <h5>パスワード</h5>
      </div>
      <div class="col-xl-1 col-2"></div>
      <div class="col-xl-4 col-4 d-flex align-items-center">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <br><br><br>

    <div class="row">
      <div class="col-5"></div>
      <div class="col-4 d-flex align-items-center">
        <p class="text-center"><%= f.submit "ログイン", class: "text-white bg-primary btn" %></p>
      </div>
    </div>
    <br><br>
  <% end %>

  <h2>会員登録がお済みでない方</h2>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <h4><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</h4>
    </div>
  </div>

<br><br><br><br><br>
</div>