<div class="container bg-light">
    <h1>会員一覧</h1>
    <br><br>
    <% @customers.each do |customer| %>
      <div class="border">
        <div class ="row">
          <div class="col-2">
            <%= link_to admin_customer_path(customer.id) do %>
              <%= image_tag customer.get_profile_image(100,100) %>
            <% end %>
          </div>
          <div class="col-1">
            <h4 class="text-center">会員ID</h4>
            <p class="text-center"><%= customer.id %></p>
          </div>
          <div class="col-2">
            <h4 class="text-center">アカウント名</h4>
            <p class="text-center"><%= customer.account_name %></p>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <h4 class="text-center">メールアドレス</h4>
            <p class="text-center"><%= customer.email %></p>
          </div>
           <div class="col-1"></div>
          <div class="col-2">
            <h4 class="text-center">ステータス</h4>
            <% if customer.is_active == true %>
              <p class="text-center">有効</p>
            <% elsif customer.is_active == false %>
              <p class="text-center">退会</p>
            <% end %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-2">
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.account_name %>
            <% end %>
          </div>
        </div>

      </div>
      <br><br>
    <% end %>
    <div class="row">
      <div class="col text-center"><%= paginate @customers %></div>
    </div>
    <br><br><br><br><br>
  </div>