<div class="container bg-light">
  <br>
    <h1>会員一覧</h1>
    <br><br>
    <% @customers.each do |customer| %>
      <div class="border">
        <div class ="row">
          <div class="col-xl-2 col-3">
            <%= link_to customer_path(customer.id) do %>
              <p><%= image_tag customer.get_profile_image(100,100) %></p>
              <p><%= customer.account_name %></p>
            <% end %>
          </div>
          <div class="col-xl-1 col-1"></div>
          <div class="col-xl-3 col-8">
            <h4>自己紹介</h4>
            <p><%= customer.introduction %></p>
          </div>
          <div class="col-xl-2 col-6"></div>
        </div>

        <div id="follow_index_<%= customer.id %>">
          <%= render partial: "customers/follow_index", locals: { customer: customer } %>
        </div>
      <br>
      </div>
      <br><br>
    <% end %>
    <br>
    <div class="row">
      <div class="mx-auto"><%= paginate @customers %></div>
    </div>
  </div>