<div class="container bg-light">
  <br><br>
  <div class="row">
    <div class="mx-auto">
      <h2><%= @customer.account_name %>さんのページ</h2>
    </div>
  </div>
  <br><br>

  <%= render "customers/customer_info", customer: @customer %>

  <div class="row">
    <div class="mx-auto">
      <div>
        <% if current_customer != @customer %>
          <%= link_to 'チャットをする', rooms_path(customer_id: @customer), method: :post, class: "text-white bg-info btn" %>
        <% end %>
      </div>
      <br>
      <div>
        <% if current_customer != @customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォローをはずす", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "text-white bg-primary btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="mx-auto">
      <h1><%= @customer.account_name %>さんの投稿一覧</h1>
    </div>
  </div>
  <br><br>

  <%= render "/customers/post_customer", posts: @posts %>

  <br><br><br><br><br>
</div>