<div class="container bg-light">
  <% if @tag.errors.any? %>
    <%= @tag.errors.count %>件のエラーが発生しました
    <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <br><br>
  <h1>タグ一覧・追加</h1>
  <br><br>

  <%= form_with model: @tag,url: admin_tags_path,method: :post do |f| %>
    <div class="row">
      <div class="col-xl-2 col-1"></div>
      <div class="col-xl-2 col-3 d-flex align-items-center">
        <h3>タグ名</h3>
      </div>
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-3 col-3 d-flex align-items-center">
        <p><%= f.text_field :tag_name %></p>
      </div>
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-2 col-3 d-flex align-items-center">
        <p><%= f.submit "新規登録" ,class: "btn btn-success" %></p>
      </div>
    </div>
  <% end %>
  <br><br><br><br><br>

  <% @tags.each do |tag| %>
    <div class="border">
      <br>
      <div class="row">
        <div class="col-xl-2 col-1"></div>
        <div class="col-xl-3 col-11 d-flex align-items-center">
          <%= tag.tag_name %>
        </div>
        <div class="col-xl-1 col-1"></div>
        <div class="col-xl-3  col-11 d-flex align-items-center">
          <%= link_to "編集する", edit_admin_tag_path(tag.id),class: "btn btn-success"  %>
        </div>
      </div>
      <br>
    </div>
    <br><br>
  <% end %>

  <div class="row">
    <div class="mx-auto"><%= paginate @tags %></div>
  </div>

<br><br><br><br><br>
</div>
