<div class="container">
<h3>投稿編集</h3>
  <div class="row text-center">
    <div class="col mx-auto" >
    <%= form_with model: @post,url: admin_post_path(@post.id) ,method: :patch do |f| %>
      <table class= "table table-borderless">
         <tr>
          <th>タイトル</th>
          <th><%= f.text_field :title %></th>
        </tr>
        <tr>
          <th>商品画像</th>
          <th><%= f.file_field :post_image, accept: "image/*" %></th>
        </tr>
        <tr>
          <th>詳細</th>
          <th><%= f.text_area :post_content %></th>
        </tr>
        <tr>
          <th>タグ</th>
          <th>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </th>
        </tr>
      </table>
       <%= f.submit "変更を保存" , class: "btn btn-success" %>    <%= link_to "投稿を削除する", admin_post_path(@post.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>