<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div>
      <p><%= image_tag post.customer.profile_image,size: "100x100" %> <%= post.customer.account_name %></p>
    </div>
    <div>
      <p><%= link_to post.title,admin_post_path(post.id) %></p>
    </div>
    <div>
      <p><%= post.created_at.strftime('%Y%m/%d')%> | <%= post.comments.count %>件 |  <%= post.favorites.count %>いいね  </p>
    </div>
    <% end %>
  </div>
</div>