<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-2 col-6"><h2>登録情報</h2></div>
    <div class="col-xl-3 col-6 d-flex align-items-center">
      <% if  %>
        <a class="text-center">
          <%= link_to "編集する", edit_customer_path(current_customer),class: "text-white bg-info btn" %>
        </a>
      <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xl-2 col0"></div>
    <div class= "col-xl-3 col-6 d-flex align-items-center">
      <h5>アカウント画像</h5>
    </div>
    <div class="col-xl-2 col-2"></div>
    <div class="col-xl-4 col-4 d-flex align-items-center">
      <%= image_tag customer.get_profile_image(100,100)%>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xl-2 col0"></div>
    <div class="col-xl-3 col-6 d-flex align-items-center">
      <h5 class="d-flex align-items-center">アカウント名</h5>
    </div>
    <div class="col-xl-2 col-2"></div>
    <div class="col-xl-4 col-4 d-flex align-items-center">
      <%= customer.account_name %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xl-2 col0"></div>
    <div class="col-xl-3 col-6 d-flex align-items-center">
      <h5>メールアドレス</h5>
    </div>
    <div class="col-xl-2 col-2"></div>
    <div class="col-xl-4 col-4 d-flex align-items-center">
      <%= customer.email %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xl-2 col0"></div>
    <div class="col-xl-3 col-6 d-flex align-items-center">
      <h5>生年月日</h5>
    </div>
    <div class="col-xl-2 col-2"></div>
    <div class="col-xl-4 col-4 d-flex align-items-center">
      <%= customer.birth_date %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xl-2 col-0"></div>
    <div class="col-xl-3 col-6 d-flex align-items-center">
      <h5>自己紹介</h5>
    </div>
    <div class="col-xl-2 col-2"></div>
    <div class="col-xl-4 col-4 d-flex align-items-center">
      <%= customer.introduction %>
    </div>
  </div>



