<div class="container bg-light">
  <br>
  <div class="row">
    <h1>マイページ</h1>
  </div>
  <%= render "mypages/info_mypage",customer: @customer %>
  <br><br>

  <div class="row">
    <h2>メニュー</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-3 col-1"></div>
    <div class="col-xl-3 col-5">
      <%= link_to "新規投稿する", new_post_path, class: "text-white bg-primary btn" %>
    </div>
    <div class="col-xl-1 col-1"></div>
    <div class="col-xl-3 col-5">
      <%= link_to "いいねした投稿一覧",favorites_path, class: "text-white bg-primary btn" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-3 col-1"></div>
    <div class="col-xl-3 col-5">
      <%= link_to "タグ一覧",tags_path, class: "text-white bg-primary btn" %>
    </div>
    <div class="col-xl-1 col-1"></div>
    <div class="col-xl-2 col-5">
      <%= link_to "チャット一覧" ,rooms_path, class: "text-white bg-primary btn" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-3 col-1"></div>
    <div class="col-xl-3 col-5">
      <%= link_to "フォローした会員一覧",customer_followings_path(@customer.id), class: "text-white bg-primary btn" %>
    </div>
    <div class="col-xl-1 col-1"></div>
    <div class="col-xl-3 col-5">
      <%= link_to "フォローされた会員一覧",customer_followers_path(@customer.id), class: "text-white bg-primary btn" %>
    </div>
  </div>
  <br><br>

  <div class="row">
    <h2>自分の投稿一覧</h2>
  </div>
  <br><br>
  <%= render "mypages/post_mypage",posts: @posts %>
    <br><br><br><br><br>
</div>