<%= form_with(model: [post,comment],local: false) do |f| %>
<!--JSを使う場合local: falseになる-->
  <% if f.object.errors.present? %>
    <div id="error_explanation">
      <h2><%= f.object.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "row">
    <div class="col-4"></div>
    <div class="col-6">
      <h3><%= f.text_area :comment_content,rows: "5", placeholder: "コメントをここに" %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-3">
      <%= f.submit "投稿する",class: "text-white bg-primary btn" %>
    </div>
  </div>
<% end %>