  <% comments.each do |comment| %>
    <div class="border rounded">
      <br>
      <div class="row">
        <div class="col-xl-1 col-1"></div>
        <div class="col-xl-2 col-5">
          <p>コメント投稿者</p>
          <%= link_to customer_path(comment.customer.id) do %>
            <%= image_tag comment.customer.get_profile_image(100,100) %>
            <p><%= comment.customer.account_name %></p>
          <% end %>
        </div>
        <div class="col-xl-1 col-1"></div>
        <div class="col-xl-4 col-6 d-flex align-items-center">
          <p><%= comment.comment_content %></p>
        </div>
        <div class="col-xl-3 col-12">
          投稿日  <i class="fa-solid fa-calendar"></i> <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-xl-8 col-3"></div>
        <div class="col-xl-4 col-6">
          <% if comment.customer == current_customer %>
            <div class="row">
              <div>
                <%= link_to "編集する", edit_post_comment_path(comment.post.id, comment.id),class: "text-white bg-primary btn"%>
              </div>
              <div class="ml-4">
              <!--mlはマージンレフトのこと-->
              <%= link_to "削除",post_comment_path(@post.id, comment.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger",remote: true %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  <% end %>

  <br>
  <div class="row">
    <div class="mx-auto"><%= paginate comments %></div>
  </div>

  <br>
  <div class="row">
    <h3>コメントする</h3>
  </div>
  <br>

  <div id="comment">
    <%= form_with(model: [@post,@comment],local: false,url:  post_comments_path(@post)) do |f| %>
    <!--JSを使う場合local: falseになる-->
    <% if f.object.errors.present? %>
      <div id="error_explanation">
        <h2><%= f.object.errors.count %>件のエラーが発生しました。</h2>
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class= "row">
      <div class="col-xl-4 col-1"></div>
      <div class="col-xl-6 col-12">
        <h3><%= f.text_area :comment_content,rows: "5", placeholder: "コメントをここに" %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-6"></div>
      <div class="col-3">
        <%= f.submit "投稿する",class: "text-white bg-primary btn" %>
      </div>
    </div>
  <% end %>
  </div>

