<div class="container bg-light">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<br><br>
<h1>投稿編集</h1>
  <%= form_with model: @post,url: post_path(@post.id) ,method: :patch do |f| %>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-2">
        <h3>タイトル</h3>
      </div>
      <div class="col-5 d-flex align-items-center">
        <%= f.text_field :title %>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-2">
        <h3>画像</h3>
      </div>
      <div class="col-5 d-flex align-items-center">
        <%= f.file_field :post_image, accept: "image/*" %>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-2">
        <h3>本文</h3>
      </div>
      <div class="col-5 d-flex align-items-center">
        <%= f.text_area :post_content %>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-4 d-flex align-items-center">
        <h3>タグ(1つ以上の使用を推奨)</h3>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-8">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name do |b| %>
          <p><%= b.label { b.check_box +   b.text } %></p>
        <% end %>
      </div>
    </div>
    <br><br><br>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <%= f.submit "変更を保存" , class: "btn btn-success" %>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <%= link_to "投稿を削除する", post_path(@post.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <br><br><br><br><br>
</div>