<div class="container bg-light">
<h1>新規投稿</h1>
  <%= form_with model: @post, url: posts_path ,method: :post do |f| %>
    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <h3>
          タイトル
        </h3>
      </div>
      <div class="col-1"></div>
      <div class="col-6 d-flex align-items-center">
        <%= f.text_field :title %>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <h3>
          投稿画像
        </h3>
      </div>
      <div class="col-1"></div>
      <div class="col-6 d-flex align-items-center">
        <%= f.file_field :post_image, accept: "image/*" %>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <h3>
          詳細
        </h3>
      </div>
      <div class="col-1"></div>
      <div class="col-6 d-flex align-items-center">
        <%= f.text_area :post_content %>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <h3>
          タグ
        </h3>
      </div>
      <div class="col-1"></div>
      <div class="col-8 d-flex align-items-center">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <%= f.submit "投稿する" , class: "text-white bg-primary btn" %>
      </div>
    </div>
    <br><br><br><br><br>
  <% end %>
</div>