<div class="container">
  <div class="row text-center">
      <table>
        <tr>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>
            <% if @post.post_image.attached? %>
              <%= image_tag @post.post_image, size: "150x150" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @post.post_content %></td>
        </tr>
        <% @post.tags.each do |tag| %>
          <tr>
            <td><%= tag.tag_name %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
  <div class ="row">

  </div>
</div>