<div class="container">
  <br><br>
  <div class="border">
    <div class ="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">タイトル</h4>
          <%= @post.title %>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <% if @post.post_image.attached? %>
          <%= image_tag @post.post_image, size: "150x150" %>
        <% end %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">本文</h4>
          <br><br>
          <%= @post.post_content %>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">タグ</h4>
          <% @post.tags.each do |tag| %>
            <p><%= tag.tag_name %></p>
          <% end %>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <% if @post.customer == current_customer %>
          <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

    <br><br>
    <div class="border rounded">
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
          <p>投稿者</p>
          <%= image_tag @post.customer.get_profile_image(100,100) %>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
          <a><%= @post.customer.account_name %></a>
        </div>
        <div class="col-2"></div>
        <div class="col">
          <p>投稿日 <%= @post.created_at.strftime('%Y%m/%d')%> | コメント数 <%= @post.comments.count %>件 |
            <% unless @post.customer == current_customer %>
              <% if @post.favorited_by?(current_customer) %>
                <p>
                  <%= link_to post_favorites_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            <% else %>
              <p>
                ♥<%= @post.favorites.count %> いいね
              </p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class ="row">
    <h3><%= @post.comments.count %>件コメント</h3>
  </div>
  <br>

    <% @comments.each do |comment| %>
    <div class="border rounded">
      <br>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <p>コメント投稿者</p>
          <%= image_tag comment.customer.get_profile_image(100,100) %>
        </div>
        <div class="col-1"></div>
        <div class="col-4 d-flex align-items-center">
          <%= comment.comment_content %>
        </div>
        <div class="col-3">
          投稿日  <%= comment.created_at.strftime('%Y%m/%d') %>
        </div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          <%= comment.customer.account_name %>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
          <% if comment.customer == current_customer %>
            <p><%= link_to "編集する", edit_post_comment_path(comment.id),class: "btn btn-success"%></p>
          <% end %>
        </div>
      </div>
      <br>
    </div>
    <% end %>


  <div class="row">
    <h3>コメントする</h3>
  </div>
  <br><br>

  <div class= "row">
    <div class="col-2"></div>
    <div class="col-6">
      <%= form_with model: [@post,@comment] do |f| %>
        <%= f.text_area :comment_content,rows: "5", placeholder: "コメントをここに" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8"></div>
    <div class="col-3">
        <%= f.submit "投稿する",class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br><br><br><br><br>

</div>