<div class="container">
  <div class="row mx-auto">
      <table>
        <tr>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>
            <% if @post.post_image.attached? %>
              <%= image_tag @post.post_image, size: "150x150" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @post.post_content %></td>
        </tr>
        <% @post.tags.each do |tag| %>
          <tr>
            <td><%= tag.tag_name %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
  <div class ="row">
    <p><%= @post.comments.count %>件</p>
  </div>
  <div class ="row">
    <% @comments.each do |comment| %>
      <%= image_tag comment.customer.get_post_image %>
      <%= comment.created_at.strftime('%Y%m/%d') %>
      <%= comment.comment_content %>
      <%= link_to "編集する", edit_post_comment_path(comment.id),class: "btn btn-success"%>
    <% end %>
  </div>
  <div class="row">
    <p>コメントする</p>
  </div>
  <div class= "row">
    <%= form_with model: [@post,@comment] do |f| %>
     <%= f.text_area :comment,rows: "5", placeholder: "コメントをここに" %>
     <%= f.submit "投稿する",class: "btn btn-primary" %>
    <% end %>
  </div>
</div>