<div class="container bg-light">
  <div class="border">
    <br>
    <div class ="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">タイトル</h4>
          <p class="text-center"><strong><%= @post.title %></strong></p>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <% if @post.post_image.attached? %>
          <%= image_tag @post.post_image, size: "150x150" %>
        <% end %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">本文</h4>
          <br><br>
          <strong><%= @post.post_content %></strong>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="border rounded">
          <h4 class="text-center">タグ</h4>
          <% @post.tags.each do |tag| %>
            <strong><%= tag.tag_name %></strong>
          <% end %>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <div id="favorites_buttons_<%= @post.id %>">
          <%= render partial: "posts/favorites" , locals: { post: @post} %>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <% if @post.customer == current_customer %>
          <%= link_to "編集する", edit_post_path(@post.id), class: "text-white bg-primary btn" %>
        <% end %>
      </div>
    </div>

    <br><br>
    <div class="border rounded">
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
          <p>投稿者</p>
          <%= link_to customer_path(@post.customer.id) do %>
            <%= image_tag @post.customer.get_profile_image(100,100) %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
          <%= link_to customer_path(@post.customer.id) do %>
            <%= @post.customer.account_name %>
          <% end %>
        </div>
        <div class="col-1"></div>
        <div class="col">
          <p>
            投稿日 <i class="fa-solid fa-calendar"></i>
            <%= @post.created_at.strftime("%Y/%m/%d %H:%M")%> |
            コメント数 <i class="fa-solid fa-comments"></i>
            <span id="comment_counts1">
              <%= @post.comments.count %>
            </span>
            件 |
            いいね数 <i class="fa-solid fa-heart"></i>
            <span id="favorite_counts">
              <%= @post.favorites.count %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class ="row">
    <h3>
      <span id="comment_counts2">
        <%= @post.comments.count %>
      </span>
      件コメント
    </h3>
  </div>
 <br><br>
 <div id="post_comments">
    <%= render partial: "posts/post_comments" , locals: {comments: @comments} %>
 </div>
  <br><br><br><br><br>

</div>