<div class="container">
  <div class="row mx-auto">
      <table>
        <tr>
          <td><%= image_tag @post.customer.get_profile_image(100,100) %></td>
        </tr>
        <tr>
          <td><%= @post.customer.account_name %></td>
        </tr>
        <tr>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>
            <% if @post.post_image.attached? %>
              <%= image_tag @post.post_image, size: "150x150" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @post.post_content %></td>
        </tr>
        <% @post.tags.each do |tag| %>
          <tr>
            <td><%= tag.tag_name %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <% if @post.customer == current_customer %>
    <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
  <% end %>
  <%= @post.created_at.strftime('%Y%m/%d')%> | <%= @post.comments.count %>件 |
    <% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <div class ="row">
    <p><%= @post.comments.count %>件コメント</p>
  </div>
  <div class ="row">
    <% @comments.each do |comment| %>
      <%= image_tag comment.customer.get_profile_image(100,100) %>
      <%= comment.created_at.strftime('%Y%m/%d') %>
      <%= comment.comment_content %>
      <% if comment.customer == current_customer %>
        <p><%= link_to "編集する", edit_post_comment_path(comment.id),class: "btn btn-success"%></p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <p>コメントする</p>
  </div>
  <div class= "row">
    <%= form_with model: [@post,@comment] do |f| %>
     <%= f.text_area :comment_content,rows: "5", placeholder: "コメントをここに" %>
     <%= f.submit "投稿する",class: "btn btn-primary" %>
    <% end %>
  </div>
</div>