<div class="container header_view">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-1">
        <%= link_to root_path, class: "navbar-toggler" do %>
          <div class="logo_icon"></div>
        <% end %>
      </div>
      <div class="col-xl-1 col-10"></div>
      <div class="col-xl-2 col-6 d-flex align-items-center">
        <h1 class="text-center"><%= link_to "全投稿一覧", admin_posts_path,class: "text-white btn" %></h1>
      </div>
      <div class="col-xl-2 col-6 d-flex align-items-center">
        <h1 class="text-center"><%= link_to "全会員一覧", admin_customers_path, class: "text-white btn" %></h1>
      </div>
      <div class="col-xl-2 col-6 d-flex align-items-center">
        <h1 class="text-center"><%= link_to "タグ登録", admin_tags_path, class: "text-white btn" %></h1>
      </div>
      <div class="col-xl-2 col-6 d-flex align-items-center">
        <h1 class="text-center"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: "text-white btn" %></h1>
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="col-xl-1 col0"></div>
      <div class="col-xl-3 col-3 d-flex align-items-center">
        <h5 class="text-white">管理者がログイン中</h5>
      </div>
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-4 col-5">
        <p class="text-white">キーワード検索</p>
        <p class="text-center">
          <%= form_with url: admin_posts_search_path, method: :get, local: true do |f| %>
            <p><%= f.text_field :keyword, value: @keyword %></p>
            <p><%= f.submit "検索する" %></p>
          <% end %>
        </p>
      </div>
      <div class="col-xl-3 col-">
        <p class="text-white">タグ選択</p>
        <%= form_with url: admin_tags_select_path, method: :get, local: true do |f| %>
          <%#= f.text_field :keyword, value: @keyword2 %>
          <p><%= f.collection_select :tag_id, Tag.all, :id, :tag_name, include_blank: "選択して下さい" %></p>
          <p><%= f.submit "検索する" %></p>
        <% end %>
      </div>
    </div>
</div>
