<div class="row">
  <div class="col-1"></div>
  <div class="col-1">
    <%= link_to root_path, class: "navbar-toggler" do %>
      <div class="logo_icon"></div>
    <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "全投稿一覧", admin_posts_path,class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "全会員一覧", admin_customers_path, class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "タグ登録", admin_tags_path, class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: "text-white btn" %></h1>
  </div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-3 d-flex align-items-center">
    <h5 class="text-white">管理者がログイン中</h5>
  </div>
  <div class="col-1"></div>
  <div class="col-3">
    <p class="text-white">キーワード検索</p>
    <p class="text-center">
      <%= form_with url: admin_posts_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索する" %>
      <% end %>
    </p>
  </div>
  <div class="col-3">
    <p class="text-white">タグ検索</p>
    <%= form_with url: admin_tags_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword2 %>
      <%= f.submit "検索する" %>
    <% end %>
  </div>
</div>


