<div class="row">
  <div class="col-1">
    <%= link_to root_path, class: "navbar-toggler" do %>
      <div class="logo_icon"></div>
    <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "マイページ" , mypage_path(current_customer),class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "投稿一覧", posts_path,class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "チャット一覧" ,rooms_path, class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "会員一覧", customers_path,class: "text-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "text-white btn" %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <p class="text-white">ログイン中のユーザー　<%= image_tag current_customer.profile_image,size: "50x50" %></p>
    <p class="text-white">　　　　　　　　　　 <%= current_customer.account_name %></p>
  </div>
  <div class="col-1"></div>
  <div class="col-3">
    <p class="text-white">キーワード検索</p>
    <p class="text-center">
      <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索する" %>
      <% end %>
    </p>
  </div>
  <div class="col-3">
    <p class="text-white">タグ検索</p>
    <%= form_with url: tags_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword2 %>
      <%= f.submit "検索する" %>
    <% end %>
  </div>
</div>