<div class="row bg-primary">
  <div class="col-3 d-flex align-items-center">
      <%= link_to root_path, class: "navbar-toggler" do %>
        <h2><%= image_tag('logo.png') %></h2>
      <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "サウナ倶楽部とは", about_path,class: "text-primary bg-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "新規会員登録", new_customer_registration_path,class: "text-primary bg-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to "会員ログイン",  new_customer_session_path,class: "text-primary bg-white btn" %></h1>
  </div>
  <div class="col-2 d-flex align-items-center">
    <h1 class="text-center"><%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post, class: "text-primary bg-white btn" %></h1>
  </div>
</div>