<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>サウナ倶楽部</title>
    <!--ファビコン↓-->
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--自分の登録したFont Awesomeを登録した-->
    <script src="https://kit.fontawesome.com/bfadd432f1.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Font Awesomeを使えるにした-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <header>
    <br>
      <div class="container">
        <% if customer_signed_in? %>
        <div class="row bg-primary">
          <div class="col-4">
            <h2><%= image_tag('logo.png') %></h2>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "マイページ" , mypage_path(current_customer),class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "投稿一覧", posts_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "会員一覧", customers_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center text-warning"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "btn btn-info" %></h1>
          </div>
        </div>

        <div class="row bg-warning">
          <div class="col-2"></div>
          <div class="col-3 d-flex align-items-center">
            <a><p>ログイン中のユーザー<%= image_tag current_customer.profile_image,size: "50x50"  %> <%= current_customer.account_name %></p></a>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <p>キーワード検索</p>
            <p class="text-center">
              <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword %>
                <%= f.submit "検索する" %>
              <% end %>
            </p>
          </div>
          <div class="col-3">
            <p>タグ検索</p>
            <%= form_with url: tags_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword2 %>
              <%= f.submit "検索する" %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="mx-auto">
            <!--<div class="alert alert-danger">-->
              <!--<%#= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>-->
            <!--</div>-->
          </div>
        </div>

        <% elsif admin_signed_in? %>
        <div class="row bg-primary">
          <div class="col-4">
            <h2><%= image_tag('logo.png') %></h2>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "全投稿一覧", admin_posts_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "全会員一覧", admin_customers_path, class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "タグ登録", admin_tags_path, class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: "btn btn-info" %></h1>
          </div>
        </div>

       <div class="row bg-warning">
          <div class="col-2"></div>
          <div class="col-3 d-flex align-items-center">
            <h5>管理者がログイン中</h5>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <p>キーワード検索</p>
            <p class="text-center">
              <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword %>
                <%= f.submit "検索する" %>
              <% end %>
            </p>
          </div>
          <div class="col-3">
            <p>タグ検索</p>
            <%= form_with url: tags_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword2 %>
              <%= f.submit "検索する" %>
            <% end %>
          </div>
        </div>

        <% else %>
        <div class="row bg-primary">
          <div class="col-3 d-flex align-items-center">
              <%= link_to root_path, class: "navbar-toggler" do %>
                <h2><%= image_tag('logo.png') %></h2>
              <% end %>
          </div>
          <div class="col-1"></div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "About", about_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "新規会員登録", new_customer_registration_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to "会員ログイン",  new_customer_session_path,class: "btn btn-info" %></h1>
          </div>
          <div class="col-2 d-flex align-items-center">
            <h1 class="text-center"><%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post, class: "btn btn-info" %></h1>
          </div>
        </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
     <footer>
      <div class="container  bg-primary">
        <br>
        <div class="row">
          <div class="mx-auto">
            <p>©︎ サウナ倶楽部. All Rights reserved.</p>
          </div>
        </div>
        <br><br>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
